@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

body {
  margin: 0;
  padding: 0;
  background: #fdf5ee;
  color: #316373;
  font-family: "Goudy Bookletter 1911", Georgia, serif; }

.content {
  width: 96vw;
  max-width: 1200px;
  margin: 5vw auto; }
  .content-header, .content-subheader {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 8px; }
  .content-header {
    font-size: 6vw;
    text-shadow: 1px 1px 0 #fdf5ee, 2px 2px 0 #d4d8d5; }
    @media (max-width: 700px) {
      .content-header {
        margin: 0;
        font-size: 36px; } }
    @media (min-width: 1250px) {
      .content-header {
        font-size: 75px; } }
  .content-subheader {
    font-size: 3vw; }
    @media (max-width: 700px) {
      .content-subheader {
        margin: 0;
        font-size: 20px; } }
    @media (min-width: 1250px) {
      .content-subheader {
        font-size: 36px; } }

.photos::after {
  clear: both;
  content: "";
  display: table; }

.photos-row {
  width: 100%; }
  .photos-row::after {
    clear: both;
    content: "";
    display: table; }

.photos-photo {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 1.5vw;
  margin-bottom: 1.5vw;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px; }
  .photos-photo:last-child {
    margin-right: 0; }
  .photos-photo.isLoading::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    border: 6px solid #cac4be;
    border-bottom-color: #98938f;
    border-radius: 50%;
    -webkit-animation: spin 3000ms linear infinite;
    -moz-animation: spin 3000ms linear infinite;
    animation: spin 3000ms linear infinite; }
  .photos-photo.isLoading .photos-photo-content {
    opacity: 0; }
  .photos-photo.isLandscape {
    position: relative; }
    .photos-photo.isLandscape:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 66.66667%; }
    .photos-photo.isLandscape .photos-photo-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  .photos-photo.isPortrait {
    position: relative; }
    .photos-photo.isPortrait:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 150%; }
    .photos-photo.isPortrait .photos-photo-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  .photos-photo-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    transition: opacity 200ms linear; }

.footer {
  font-size: 16px;
  text-align: center; }
  @media (max-width: 360px) {
    .footer {
      font-size: 14px; } }
  .footer a {
    color: #316373; }
    .footer a:hover {
      color: #4891a9; }

.column-1 .photos-photo {
  width: calc((100% - 0vw) / 1); }

.column-2 .photos-photo {
  width: calc((100% - 1.5vw) / 2); }

.column-3 .photos-photo {
  width: calc((100% - 3vw) / 3); }

.column-4 .photos-photo {
  width: calc((100% - 4.5vw) / 4); }

.two-photo-mix .isLandscape {
  width: calc(69.23077% - 0.75vw); }

.two-photo-mix .isPortrait {
  width: calc(30.76923% - 0.75vw); }

.two-landscape .isLandscape {
  width: 39%; }

.two-landscape .isPortrait {
  width: 18%; }

.two-portrait .isLandscape {
  width: 50%; }

.two-portrait .isPortrait {
  width: 23%; }
