// variables
// ----------------------------------------------------------------------------

$width: 1200px;
$gutter-small-screens: 1.2vw;
$gutter-large-screens: 10px;
$br: 2px;

$bg: #fdf5ee;
$text: #316373;

$loader-bg: mix($bg, #000, 80%);
$loader-fg: mix($bg, #000, 60%);
$loader-size: 30px;

$font-root: "./fonts/";


// mixins
// ----------------------------------------------------------------------------

@mixin clearfix {
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}

@mixin photo-aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  .photos-photo-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

@font-face {
  font-family: 'Goudy Bookletter';
  src: local('Goudy Bookletter 1911'),
		url('#{$font-root}goudy-bookletter.eot?#iefix') format('embedded-opentype'),
		url('#{$font-root}goudy-bookletter.woff') format('woff'),
		url('#{$font-root}goudy-bookletter.ttf') format('truetype'),
		url('#{$font-root}goudy-bookletter.svg#goudy-bookletter') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin photo-width($num-gutters, $relative-width, $gutter) {
  width: calc((100% - #{$gutter} * #{$num-gutters}) * #{$relative-width});
}

@mixin photo-layouts($gutter) {
	// apply the gutter to each photo
	.photos-photo {
		margin-right: $gutter;
		margin-bottom: $gutter;
	}

	// 1 to 4 images of the same orientation
	@for $i from 1 through 4 {
		.layout-#{$i}-column {
			.photos-photo {
				@include photo-width($i - 1, 1/$i, $gutter);
			}
		}
	}

	// two images of different orientations
	.layout-two-photo-mix {
		.isLandscape {
			@include photo-width(1, 9/13, $gutter);
		}

		.isPortrait {
			@include photo-width(1, 4/13, $gutter);
		}
	}

	// these render in a row
	.layout-two-portrait-one-landscape {
		.isLandscape {
			@include photo-width(2, 9/17, $gutter);
		}

		.isPortrait {
			@include photo-width(2, 4/17, $gutter);
		}
	}

	// the two landscapes stack on top of each other
	.layout-two-landscape-one-portrait {
		.isLandscape {
			@include photo-width(1, 10/19, $gutter);

			&:last-child {
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}

		.isPortrait {
			@include photo-width(1, 9/19, $gutter);
			float: right;
			margin-right: 0;
		}
	}
}


// styles
// ----------------------------------------------------------------------------

body {
	margin: 0;
	padding: 0;
	background: $bg;
	color: $text;
	font-family: "Goudy Bookletter", Georgia, serif;
}

.content {
	width: 75vw;
	max-width: $width;
	margin: 5vw auto;

	@media (max-width: 700px) {
		width: 96vw;
	}

	&-header,
	&-subheader {
		display: block;
		width: 100%;
		text-align: center;
		margin-bottom: 8px;
	}

	$shadow-size: 1px;

	&-header {
		font-size: 6vw;
		text-shadow: $shadow-size $shadow-size 0 $bg,
			$shadow-size * 2 $shadow-size * 2 0 mix($bg, $text, 80%);

		@media (max-width: 700px) {
			margin: 0;
			font-size: 36px;
		}

		@media (min-width: 1250px) {
			font-size: 75px;
		}
	}

	&-subheader {
		font-size: 3vw;

		@media (max-width: 700px) {
			margin: 0;
			font-size: 20px;
		}

		@media (min-width: 1250px) {
			font-size: 36px;
		}
	}
}

.photos {
	@include clearfix;

	&-row {
		@include clearfix;
		position: relative;
		width: 100%;
	}

	&-photo {
		position: relative;
		overflow: hidden;
		float: left;
		width: 100%;
		background: rgba(#000, 0.05);
		border-radius: $br;

		&:last-child {
			margin-right: 0;
		}

		&.isLoading {
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;

				margin-top: $loader-size * -0.5;
				margin-left: $loader-size * -0.5;
				width: $loader-size;
				height: $loader-size;

				border: 6px solid $loader-bg;
				border-bottom-color: $loader-fg;
				border-radius: 50%;

				-webkit-animation: spin 3000ms linear infinite;
				-moz-animation: spin 3000ms linear infinite;
				animation: spin 3000ms linear infinite;
			}

			.photos-photo-content {
				opacity: 0;
			}
		}

		&.isLandscape {
			@include photo-aspect-ratio(1200, 800);
		}

		&.isPortrait {
			@include photo-aspect-ratio(800, 1200);
		}

		&-content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: $br;

			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;

			-webkit-transition: opacity 200ms linear;
			-moz-transition: opacity 200ms linear;
			transition: opacity 200ms linear;
		}
	}
}

.footer {
	font-size: 16px;
	text-align: center;

	@media (max-width: 360px) {
		font-size: 14px;
	}

	a {
		color: $text;

		&:hover {
			color: lighten($text, 15%);
		}
	}
}


// call the layout styles
// ------------------------------------------------------------------------

@media (max-width: 1000px) {
	@include photo-layouts($gutter-small-screens);
}

@media (min-width: 1000px) {
	@include photo-layouts($gutter-large-screens);
}
